@use "../../assets/styles/mixins" as mixin;

.BattleArea {
  position: relative;
  max-width: calc(var(--Tile-desktop) * 11);
  display: flex;
  flex-wrap: wrap;
  @include mixin.xs {
    max-width: calc(var(--Tile-mobile) * 11);
  }
}
