.container {
  padding: 10px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: rgb(18, 49, 78);
  color: white;
  a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }
  }
  img {
    width: 50px;
  }
  p {
    margin: 0;
    font-size: 1.2rem;
  }
}
