@use "../../../../assets/styles/mixins" as mixin;

.Tile {
  position: relative;
  min-width: var(--Tile-desktop);
  min-height: var(--Tile-desktop);
  max-width: var(--Tile-desktop);
  max-height: var(--Tile-desktop);
  border: 1px solid black;
  @include mixin.xs {
    min-width: var(--Tile-mobile);
    min-height: var(--Tile-mobile);
    max-width: var(--Tile-mobile);
    max-height: var(--Tile-mobile);
  }

  p {
    position: relative;
    color: #ffffff;
    text-shadow: 0px 0px 5px black;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // background-image: url("https://firebasestorage.googleapis.com/v0/b/battleship-65975.appspot.com/o/tile.webp?alt=media&token=a7d2745a-612b-4a09-ae9c-06d16dca0466");
    // background-position: center;
    // background-size: cover;
    // background-color: rgba(0, 0, 0, 0.5);
    // opacity: 0.7;
  }
}

.Effect {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
