.NavColumn {
  position: relative;
  max-width: 275px;
  text-align: center;
  background-color: var(--dark-secondary);
  padding: 8px;
  justify-content: space-between;
}

.NavBtn {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:active {
    background-color: var(--secondary);
  }
  &:hover {
    background-color: var(--secondary);
  }
}
