@use "../../assets/styles/mixins" as mixin;

.page {
  overflow-x: hidden;
  transition: all 0.5 ease-in-out;
}

.BtnMobile {
  display: none;
  @include mixin.sm-lt {
    display: flex;
  }
}

.BtnDesktop {
  display: flex;
  @include mixin.sm-lt {
    display: none;
  }
}

.backBtn {
  position: absolute;
  top: 25px;
  left: 25px;
  color: white;
}

.NavColumn {
  position: relative;
  max-width: 275px;
  text-align: center;
  background-color: var(--dark-secondary);
  padding: 8px;
  justify-content: space-between;

  @include mixin.sm-lt {
    min-width: 100vw;
    max-width: 100vw;
  }
}

.NavBtn {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    background-color: var(--secondary);
  }
}
