.btn {
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
  font-family: var(--font-family);
  font-size: 1.1rem;
  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.destroyed {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/battleship-65975.appspot.com/o/destroyed.webp?alt=media&token=8d8add69-1042-4689-8a59-6cbed72b9ddc");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.missed {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/battleship-65975.appspot.com/o/miss.webp?alt=media&token=4446a62b-6696-40d0-94ca-d4bd18a68e6f");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.border {
  background-color: rgba(0, 0, 0, 0.5);
}

.TileHover {
  &:hover {
    background-color: white;
    opacity: 0.3;
  }
}

.BattleHover {
  &:hover {
    background-color: red;
    opacity: 0.3;
  }
}

.card {
  background-color: var(--secondary);
  padding: 20px 20px;
  border: 2px solid var(--light-secondary);
  gap: 10px;
}

.input {
  background-color: var(--dark-secondary);
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-family: var(--font-family);
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.ship2 {
  // mask-size: contain;
  // -webkit-mask-image: url("../../../public/ship_2.svg");
  // mask-image: url("../../../public/ship_2.svg");
  background-image: url("../../../public/ship_2 (1).webp");
}
.ship3 {
  // -webkit-mask-image: url("../../../public/ship_3.svg");
  // mask-image: url("../../../public/ship_3.svg");
  background-image: url("../../../public/ship_3 (1).webp");
}
.ship4 {
  // mask-size: contain;
  // -webkit-mask-image: url("../../../public/ship_4.svg");
  // mask-image: url("../../../public/ship_4.svg");
  background-image: url("../../../public/ship_4 (1).webp");
}
.ship5 {
  // mask-size: cover;
  // -webkit-mask-image: url("../../../public/ship_5.svg");
  // mask-image: url("../../../public/ship_5.svg");
  background-image: url("../../../public/ship_5 (1).webp");
}

.w-100 {
  width: 100%;
}

.bg-g {
  background-color: darkgreen;
}

.bg-r {
  background-color: rgb(173, 40, 40);
}

.border-g {
  border-color: rgb(0, 59, 0);
}

.c-p {
  color: var(--primary);
}
