.btn {
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.destroyed {
  background-image: url("destroyed.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.missed {
  background-image: url("miss.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.border {
  background-color: rgba(0, 0, 0, 0.5);
}

.TileHover {
  &:hover {
    background-color: white;
    opacity: 0.3;
  }
}

.BattleHover {
  &:hover {
    background-color: red;
    opacity: 0.3;
  }
}

.ship2 {
  mask-size: contain;
  -webkit-mask-image: url("ship_2.svg");
  mask-image: url("ship_2.svg");
}
.ship3 {
  -webkit-mask-image: url("ship_3.svg");
  mask-image: url("ship_3.svg");
}
.ship4 {
  mask-size: contain;
  -webkit-mask-image: url("ship_4.svg");
  mask-image: url("ship_4.svg");
}
.ship5 {
  mask-size: cover;
  -webkit-mask-image: url("ship_5.svg");
  mask-image: url("ship_5.svg");
}

.w-100 {
  width: 100%;
}
