:root {
  --primary: #ff385c;
  --secondary: rgb(18, 49, 78);
  --light-secondary: rgb(36, 70, 102);
  --dark-secondary: rgb(12, 35, 56);
  --gray-1: #20232a;
  --gray-2: #efefef;
  --Tile-desktop: 50px;
  --Tile-mobile: 30px;
  --font-family: "Fugaz One", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
}
